body {
  margin: 5% auto;
  padding: 5%;
  text-align: inherit;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.weather-icon {
  margin: auto;
  width: 150px;
}
.github-link {
  padding: 5%;
}
a {
  text-decoration: none;
}
input {
  padding: 5%;
  margin-top: 10%;
  margin-left: 20%;
  display: block;
}
a.active {
  color: black;
}
